body{
    /* background-color: indigo; */
    height: auto;
}
.cont{
    margin-top: 150px;
    position: relative;
    height: 800px;
    
}
.login{
    border: 1px solid white;
    min-height: 600px;
    width: 500px;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
    background-color: rgba(145, 148, 148, 0.204);
    border: 0.5px solid gray;
}
button{
    /* width: 149px; */
    /* float: left; */
    height: 50px;
}
.btninloggen
{
    background-color: white;
    border: 1px solid white;
    width: 49%;
}
.btninloggen:hover
{
    border: 1px solid black;

}
.btnregistreren{
    background-color: lightgray;
    border: 1px solid lightgray;
    width: 49%;

}
.btnregistreren:hover
{
    border: 1px solid black;
}
h4{
    margin: 15px;
    padding-right: 55px;
}
.buttonInloggen
{
    width: 200px;
    height: 50px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    margin-top: 140px;

}
.buttonInloggen:hover
{
    border: 1px solid black;

}
input{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.h4wachtwoord{
    padding-right: 85px;
}
.h4email
{
    padding-right: 175px;
}
.h4wachtwoordherhalen
{
    padding-right: 25px;
}
h5{
    font-weight: 100;
}
.aterug
{
    text-decoration: none;
    float: right;
    color: black;
}
.containerlinks
{
    width: 49.9%;
    height: 400px;
    float: left;
    text-align: center;
    
    border-right: 1px solid black;
}

.containerrechts
{
    text-align: center;
    float: left;
    width: 50%;
    height: 400px;
}
table{
    color: black;
margin-left: auto;
margin-right: auto;
width: 450px;
border-collapse: collapse;

}
.td1
{
    border: 0px;
    background-color: rgba(211, 211, 211, 0.517);
}
.td2
{
    border: 0px;
    background-color: white;
}
.h6wachtwoordvergeten
{
    font-size: medium;
}
.h4wachtwoordvergeten
{
    margin-left: 50px;
    text-align: center;
}
.inloggen_Info{
    text-align: center;
    width: 100%;
}