#body {
    margin: 0px;
    padding: 0px;
 }
.container{
    margin-top: 150px;
    margin-bottom: 163px;
}
.kantine-item-card{
    width: 300px;
    height: 400px;
    background-color: #eee;
    border-radius: 20px;
    margin: 10px;
    padding: 2px;
    text-align: center;
    max-width: 300px;
    max-height: 400px;
    float: left;
}

.kantine-item-card .card-info{
    margin-top: 10px;
    max-width: 300px;
    max-height: 150px;
}

.kantine-item-card .img-container {
    width: 300px;
    height: 250px;
    margin: auto;
}

.kantine-item-card .img-container .identifier{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 150px;
    top:0;
    left:0;
    padding: 66.5px 0px;
}