.A-kantine-button img{
    border-radius: 50px;
    margin: 5px -2px;
    padding: 0px;
    border-width: 4px;
    text-align: center;
    width: 175px;
    height: 66px;
    max-width: 175px;
    max-height: 66px;
    position: relative;
    line-height: 1 !important;
    font-weight: bold;
    font-size: 20px;
    background-color: ghostwhite;
    color: black;
    transition-duration: 0.4s;
    cursor: crosshair;
}

.A-kantine-button .create{
    border-color: darkseagreen;
    width: 50px;
    height: 50px;
}
.A-kantine-button .create:hover{
    background-color: darkseagreen;
}

.A-kantine-button .change{
    border-color: darksalmon;
    width: 50px;
    height: 50px;
}
.A-kantine-button .change:hover{
    background-color: darksalmon;
}

.A-kantine-button .remove{
    border-color: rgb(168, 75, 75);
    width: 50px;
    height: 50px;
}
.A-kantine-button .remove:hover{
    background-color: rgb(168, 75, 75);
}

.kantine-item-card{
    max-height: 265px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.kantine-create{
    text-align: center;
    width: 50%;
    
}

.kantine-form{
    margin: 0% 25%;
    border: double;
    width: 400px;
}

.kantine-form section > *{
    margin: 3px 0px;
    width: 100%;
}

.kantine-form section label{
    border-top: double;
}

.section-descriptie label{
    vertical-align: top;
}