#body {
    margin: 0px;
    padding: 0px;
 }
.kantine-container{
    margin-top: 150px;
    margin-bottom: 163px;
    padding: 70px 50px;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.kantine-item-card{
    background-color: #eee;
    border-radius: 50px;
    margin: 5px;
    padding: 2px;
    text-align: center;
    max-width: 190px;
    max-height: 230px;
    float: left;
    position: relative;
    line-height: 1 !important;
}

.kantine-item-card .card-info{
    max-width: 300px;
    max-height: 150px;
}

.kantine-item-card .img-container {
    
    height: 150px;
    margin: auto;
    border-radius: 50px 50px 0px 0px;
    background-size: contain;
    background-repeat: no-repeat
}

.kantine-item-card .img-container .identifier{
    border-radius: 50px 20px;
    width: 60px;
    top:0;
    left:0;
    padding: 23px 0px;
}

.identifier-label{
    transform:rotate(-50deg);
    -ms-transform:rotate(-50deg); /* IE 9 */
    -webkit-transform:rotate(-50deg); /* Opera, Chrome, and Safari */
    margin-bottom: 0%;
}

.snack{
    background: #F97943
}
.drink{
    background: #00FBED;
}

p{
    line-height: 1 !important;
}